POSTGRES_USER=secfin_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_DB=secfin_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

DASHBOARD_DB_USER=secfin_dashboard
DASHBOARD_DB_PASSWORD=change_this_dashboard_password
ETL_DB_USER=secfin_etl
ETL_DB_PASSWORD=change_this_etl_password
DASHBOARD_DB_USER=secfin_dashboard
DASHBOARD_DB_PASSWORD=change_this_dashboard_password
ETL_DB_USER=secfin_etl
ETL_DB_PASSWORD=change_this_etl_password
