# Secrets et variables d'environnement (JAMAIS sur Git)
.env
.env.*
!.env.example

# Environnement virtuel Python
venv/
env/
.venv/

# Données locales de la base PostgreSQL
postgres_data/

# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers système et éditeurs
.DS_Store
.idea/
.vscode/
airflow_logs/
